/*---------找回密码流程--------*/

body{font-family:"宋体";margin:0;padding:0;font-size:12px;background:url(../images/body_bg.gif) repeat-y center center #e3e3e3;color:#333;}
ul,li{padding:0px;margin:0px;list-style-type:none;}
.clear{clear:both;}
p,input,form{margin:0px;padding:0px;}
img{border:0;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
h1,h2,h3,h4,h5,h6{ padding:0; margin:0;font-weight:normal;font-size:12px;}
em{font-style:normal;}

#find .top,#find .bot,.find_box .tips,.find_box .inpTop,.find_box .inpBot,.find_box .tips2{background:url(../images/find.png) no-repeat;}

/*------找回密码------*/
#find{width:950px; margin:auto;padding:3px 0 30px;}
#find .top{ height:8px;width:950px; overflow:hidden;}
#find .bot{ height:8px;width:950px; overflow:hidden;background-position:0 -8px;}
#find .find_box{width:914px;padding:0 18px 25px;background:url(../images/find_boxBg.gif) repeat-y;}

.find_box .title{ padding:10px 0 13px; font-size:14px; font-weight:bold; text-align:center;}
.find_box .tips{ height:26px; line-height:26px;padding-left:29px;background-position:-1000px 5px; color:#666; background-color:#FEFFDF;border:1px solid #FFCC7F;}
.find_box .inpTop{background-position:0 -16px; height:6px; overflow:hidden;margin-top:4px;}
.find_box .inpBot{background-position:0 -21px; height:8px; overflow:hidden;}
.find_box .inpBox{ background:url(../images/find_inpBoxBg.gif) repeat-y;width:914px; overflow:hidden; font-size:14px;padding:2px 0 7px;border-bottom:1px solid #D6D6D6;}
.find_box .inpBox .l{width:330px;padding:5px 7px 0 0; text-align:right; float:left; }
.find_box .inpBox .r{ float:left;}
.find_box .inpBox .op{ float:left; color:#c00;padding:6px 0 0 10px;font-size:12px;}
.find_box .inpBox .r input{width:212px; height:22px; line-height:22px;border:1px solid #B6B8C0;}
.find_box .inpBox .btn{ float:left;padding:2px 0 0 34px;}
.find_box .inpBox .btn input{width:67px; height:23px; border:none; cursor:pointer;}
.find_box .inpBox .btn .style1{ background:url(../images/find_btn_sub1.gif) no-repeat;}
.find_box .inpBox .btn .style2,.find_box .inpBox .btn .style1:hover{ background:url(../images/find_btn_sub2.gif) no-repeat;}
.find_box .tips2{margin-top:20px;padding-left:51px;background-position:-980px -36px; line-height:18px; color:#666;}
.find_box .tips2 a{color:#c00; text-decoration:underline;}
.find_box .tips2 a:hover{ color:#f60;}
/*------end 找回密码------*/

/*------操作成功和失败----*/
#find .find_sucBox{width:950px;padding-bottom:27px;background:url(../images/find_boxBg.gif) repeat-y;}
.find_box2{padding:0 160px 0 185px; text-align:center; /*background:url(../images/find_sucHead.jpg) 160px 26px no-repeat;*/}
.find_box2 .txt1{}
.find_box2 .txt2{ font-weight:bold; font-size:14px; color:#f60;margin-top:10px;}
.find_box2 .txt3{ line-height:24px; color:#666;margin-top:15px;}
.find_box2 .txt4{line-height:24px;}
.find_box2 .btn{margin-top:30px;}

.find_fail{background:url(../images/find_fHead.jpg) 160px 26px no-repeat;}
/*------end 操作成功和失败----*/

/*------find password by information----*/
.btnsubmit{background:url(../images/passwordbtn.gif) no-repeat; height:27px; width:48px; color:#FFF; float:left;}