@charset "gb2312";

.wrap{width:100%;background:url(../images/g_bg.jpg) repeat-x;min-height:400px;height:auto !important;height:400px;overflow:visible;}
.g_content{width:980px; background:url(../images/g_topbanner.jpg) no-repeat;padding:120px 0 0 0;margin:0 auto;}
.g_maindiv{width:980px; float:left;}
.mainleft{width:772px;float:left;}
.mainright{width:200px;padding:0 0 0 8px;float:left;}
.leftdiv1{width:772px;float:left;}
.leftdiv1 .top{width:772px;height:8px;float:left; background:url(../images/g_div1_1.gif) no-repeat; overflow:hidden;}
.leftdiv1 .box{width:772px;float:left; background:url(../images/g_div1_2.gif) repeat-y;}
.leftdiv1 .box .name{width:702px;overflow:hidden;word-break:break-all;padding:7px 35px 13px 35px;TEXT-ALIGN:left;LINE-HEIGHT:35px;FONT-FAMILY: '寰�蒋���','榛��',Hei,'瀹��';FONT-SIZE:26px;text-shadow:1px 1px 1px #a3a3a3;color:#222222;}
.leftdiv1 .box .name a{color:#222222;}
.leftdiv1 .box .name a:hover{color:#222222;}
.leftdiv1 .box .div1_left{width:287px;float:left;}
.leftdiv1 .box .div1_left .price1{padding:0 0 0 8px;}
.leftdiv1 .box .div1_left .price1 a{width:150px;height:55px;float:left;background:url(../images/g_price_bg.gif) no-repeat;font-size:32px; text-align:center; font-weight:bold;font-family:"瀹��"; color:#FFFFFF;padding:23px 80px 0 36px; overflow:hidden;}
.leftdiv1 .box .div1_left .price1 a span{ font-size:18px; font-family:"瀹��";color:#FFFFFF}
.leftdiv1 .box .div1_left .price2{width:260px;height:60px;border:#d5d7d6 solid 1px;margin:12px 0 0 12px;float:left;padding:3px 0 0 0; overflow:hidden;display:inline}
.leftdiv1 .box .div1_left .price2 .h1{width:220px;float:left;padding:5px 0 0 20px;}
.leftdiv1 .box .div1_left .price2 .h1 p{width:110px;float:left;font-size:14px; text-align:center; color:#636363;}
.leftdiv1 .box .div1_left .price2 .h1 cite{width:110px; font-size:18px; font-weight:bold;float:left; text-align:center; color:#373737;}
.leftdiv1 .box .div1_left .priceend{padding:0 0 0 8px;}
.leftdiv1 .box .div1_left .priceend a{width:150px;height:55px;float:left;background:url(../images/g_price_end_bg.gif) no-repeat;font-size:32px;text-align:center;font-weight:bold; font-family:"瀹��"; color:#FFFFFF;padding:23px 80px 0 36px; overflow:hidden;}
.leftdiv1 .box .div1_left .priceend a span{ font-size:18px; font-family:"瀹��";color:#FFFFFF}
.leftdiv1 .box .div1_left .sale{width:260px;height:210px;border:#d5d7d6 solid 1px;margin:12px 0 0 12px;float:left;padding:3px 0 0 0; overflow:hidden; display:inline}
.leftdiv1 .box .div1_left .sale .s1{width:260px;}
.leftdiv1 .box .div1_left .sale .s1 p{width:260px;text-align:center;color:#000000;font-size:16px;margin:2px 0 0 0;}
.leftdiv1 .box .div1_left .sale .s1 p span{ font-size:30px;color:#dc401b;}
.leftdiv1 .box .div1_left .sale .s1 cite{text-align:center;color:#555555;font-size:12px;}
.leftdiv1 .box .div1_left .sale .s2{width:260px;}
.leftdiv1 .box .div1_left .sale .s2 .amo1{width:195px;height:12px;border:#c6c6c6 solid 1px;background:url(../images/g_amo1.gif) repeat-x;font-size:0;margin:10px 0 0 32px;}
.leftdiv1 .box .div1_left .sale .s2 .amo2{height:12px;background:url(../images/g_amo2.gif) repeat-x;font-size:0}
.leftdiv1 .box .div1_left .sale .s2 p{width:260px;text-align:center;color:#555555;margin:5px 0 0 0;}
.leftdiv1 .box .div1_left .sale .s3{width:260px; text-align:center;margin:10px 0 0 0;}
.leftdiv1 .box .div1_left .sale .s4{width:200px;margin:8px 0 0 0;padding:0 0 0 60px;line-height:20px;  font-weight:bold; color:#dc401b; font-size:18px; font-family:"瀹��";}
.leftdiv1 .box .div1_left .sale .s4 p{font-size:12px;color:#555;}
.leftdiv1 .box .div1_right{width:483px;float:left;}
.leftdiv1 .box .div1_right .pic{width:470px;height:470px;float:left;text-align:center;border:#dddddd solid 1px;display:inline;cursor:pointer;position:relative;}
.leftdiv1 .box .div1_right .amount{width:103px;height:57px;background:url(../images/g_amount_bg.gif) no-repeat;position:absolute;color:#FFFFFF;text-align:right;font-family:"瀹��";padding:10px 15px 0 20px; bottom:0;right:0;}
.leftdiv1 .box .div1_right .amount img{width:470px;height:470px;border:#dddddd solid 1px;}
.leftdiv1 .box .div1_right .amount p{font-weight:bold;font-size:28px;}
.leftdiv1 .box .div1_left .sw{width:245px;height:27px;float:left;padding:0 0 0 15px;margin:10px 0 0 10px;}
.leftdiv1 .box .div1_left .sw A {BORDER-BOTTOM: #fff 0px solid; BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 28px; PADDING-LEFT: 20px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(../images/icons.png) no-repeat; HEIGHT: 26px; VERTICAL-ALIGN: middle; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; _line-height: 26px}
.leftdiv1 .box .div1_left .sw A.kaixin {BACKGROUND-POSITION: 0px -91px}
.leftdiv1 .box .div1_left .sw A.renren {BACKGROUND-POSITION: 0px -27px}
.leftdiv1 .box .div1_left .sw A.douban {BACKGROUND-POSITION: 0px 5px}
.leftdiv1 .box .div1_left .sw A.sina {BACKGROUND-POSITION: 0px -60px}
.leftdiv1 .box .div1_left .sw A.say {FONT-FAMILY: '瀹��'; BACKGROUND-POSITION: 0px -284px}
.leftdiv1 .box .div1_left .sw A.mail {LINE-HEIGHT: 24px; BACKGROUND-POSITION: 0px -122px; _line-height: 26px}
.leftdiv1 .box .div1_left .sw A.im {LINE-HEIGHT: 24px; PADDING-LEFT: 30px; PADDING-RIGHT: 5px; BACKGROUND-POSITION: 3px -156px; _line-height: 26px}
.leftdiv1 .box .div1_left .sw A.hover{Z-INDEX: 2;BORDER-BOTTOM: #d9d9d9 0px solid;POSITION: relative; BORDER-LEFT: #d9d9d9 1px solid; BACKGROUND-COLOR: #fff; BORDER-TOP: #d9d9d9 1px solid; BORDER-RIGHT: #d9d9d9 1px solid; TEXT-DECORATION: none !important}
.leftdiv1 .bottom{width:772px;height:8px;float:left; background:url(../images/g_div1_3.gif) no-repeat;overflow:hidden;}
.leftdiv2{width:772px;float:left;margin:10px 0 0 0;}
.leftdiv2 .top{width:772px;height:8px;float:left; background:url(../images/g_div1_4.gif) no-repeat; overflow:hidden;}
.leftdiv2 .bottom{width:772px;height:8px;float:left; background:url(../images/g_div1_3.gif) no-repeat;overflow:hidden;}
.leftdiv2 .box{width:772px;float:left; background:url(../images/g_div1_2.gif) repeat-y;min-height:250px;height:auto !important;height:250px;overflow:visible;}
.leftdiv2 .box .title{width:170px;line-height:30px;background:#01559d;font-size:16px;font-weight:bold;color:#FFFFFF; text-align:center;margin:0 0 0 20px;}
.leftdiv2 .box .text{width:732px;line-height:26px; font-size:14px;padding:15px 20px;overflow:hidden;}
.leftdiv2 .box .text2{width:732px;padding:15px 20px; overflow:hidden;}

.leftdiv3{width:772px;float:left; font-family:"瀹��";}
.leftdiv3 .top{width:772px;height:8px;float:left; background:url(../images/g_div1_1.gif) no-repeat; overflow:hidden;}
.leftdiv3 .bottom{width:772px;height:8px;float:left; background:url(../images/g_div1_3.gif) no-repeat;overflow:hidden;}
.leftdiv3 .box{width:772px;float:left; background:url(../images/g_div1_2.gif) repeat-y;min-height:250px;height:auto !important;height:250px;overflow:visible;}
.leftdiv3 .box .title{margin:10px 0 0 30px; float:left;}
.leftdiv3 .box ul{width:750px;float:left;padding:0 0 0 22px;}
.leftdiv3 .box li{width:368px;height:241px; float:left;margin:16px 0 0 0;overflow:hidden;}
.leftdiv3 .box li .day{width:300px;height:18px;float:left}
.leftdiv3 .box li .day p{padding:0 0 0 25px;float:left}
.leftdiv3 .box li .day cite{padding:0 0 0 13px;float:left; font-size:14px; font-weight:bold; font-family:Tahoma,Helvetica,arial,sans-serif}
.leftdiv3 .box li .liwrap{width:354px;height:211px;float:left; border:#d5d7d6 solid 1px; overflow:hidden;margin:5px 0 0 0;}
.leftdiv3 .box li .liwrap .name{width:294px;line-height:22px;height:44px;overflow:hidden;font-size:14px;padding:0 30px;margin:15px 0 0 0;float:left;}
.leftdiv3 .box li .liwrap .info{width:330px;padding:0 0 0 24px;float:left;margin:10px 0 0 0; position:relative;}
.leftdiv3 .box li .liwrap .info .isopen {Z-INDEX: 1; POSITION: absolute; WIDTH: 76px; BOTTOM: -5px; BACKGROUND: url(../images/bg-deals-default-isopen.png) no-repeat 0px 0px; HEIGHT: 76px; RIGHT: -5px; _bottom: -5px; _background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/bg-deals-default-isopen.png');}
.leftdiv3 .box li .liwrap .info .soldout {Z-INDEX: 1; POSITION: absolute; WIDTH: 122px; BOTTOM: 0px; BACKGROUND: url(../images/bg-deals-default-soldout.png) no-repeat 0px 0px; HEIGHT: 69px; RIGHT: 12px; _bottom: 0px; _background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/bg-deals-default-soldout.png');}
.leftdiv3 .box li .liwrap .info .soldoutt {Z-INDEX: 1; POSITION: absolute; WIDTH: 122px; BOTTOM: 0px; BACKGROUND: url(../images/bg-deals-default-soldout123.png) no-repeat 0px 0px; HEIGHT: 69px; RIGHT: 12px; _bottom: 0px; _background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/bg-deals-default-soldout2.png');}
.leftdiv3 .box li .liwrap .info .will {Z-INDEX: 1; POSITION: absolute; WIDTH: 76px; BOTTOM: -5px; BACKGROUND: url(../images/bg-deals-default-will.png) no-repeat 0px 0px; HEIGHT: 76px; RIGHT: -5px; _bottom: -5px; _background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/bg-deals-default-isopen.png');}
.leftdiv3 .box li .liwrap .info .over {Z-INDEX: 1; POSITION: absolute; WIDTH: 76px; BOTTOM: -5px; BACKGROUND: url(../images/bg-deals-default-soldout.png) no-repeat 0px 0px; HEIGHT: 76px; RIGHT: -5px; _bottom: -5px; _background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/bg-deals-default-isopen.png');}
.leftdiv3 .box li .liwrap .info .infoleft{width:188px;padding:0 8px 0 0;float:left;}
.leftdiv3 .box li .liwrap .info .infoleft .amount{width:186px;height:29px;line-height:29px; float:left;text-align:center;border:#e0e0e0 solid 1px; overflow:hidden}
.leftdiv3 .box li .liwrap .info .infoleft .amount span{ font-size:18px; font-weight:bold; color:#c40000;}
.leftdiv3 .box li .liwrap .info .infoleft .price{width:186px;height:80px;border:#d5d7d6 solid 1px;border:#e0e0e0 solid 1px;float:left;margin:5px 0 0 0;overflow:hidden}
.leftdiv3 .box li .liwrap .info .infoleft .price p{line-height:25px;background:#e2e2e2; text-align:center}
.leftdiv3 .box li .liwrap .info .infoleft .price cite{line-height:25px; text-align:center; display:block;}
.leftdiv3 .box li .liwrap .info .infoleft .price span{ font-weight:bold;}
.leftdiv3 .box li .liwrap .info .pic{width:120px;height:120px;float:left;border:#e0e0e0 solid 1px;}

.leftdiv3 .box .li2{width:368px;height:241px; float:left;margin:16px 0 0 0;overflow:hidden;}
.leftdiv3 .box .li2 .day{width:300px;height:18px;float:left}
.leftdiv3 .box .li2 .day p{padding:0 0 0 25px;float:left}
.leftdiv3 .box .li2 .day cite{padding:0 0 0 13px;float:left; font-size:14px; font-weight:bold; font-family: Tahoma,Helvetica,arial,sans-serif; color:#FF0000}
.leftdiv3 .box .li2 .liwrap{width:354px;height:211px;float:left; border:#fddcc1 solid 1px; overflow:hidden;margin:5px 0 0 0;}
.leftdiv3 .box .li2 .liwrap .name{width:294px;line-height:22px;height:44px;overflow:hidden;font-size:14px;padding:0 30px;margin:15px 0 0 0;float:left;}
.leftdiv3 .box .li2 .liwrap .info{width:330px;padding:0 0 0 24px;float:left;margin:10px 0 0 0; position:relative;}
.leftdiv3 .box .li2 .liwrap .info .isopen {Z-INDEX: 1; POSITION: absolute; WIDTH: 76px; BOTTOM: -5px; BACKGROUND: url(../images/bg-deals-default-isopen.png) no-repeat 0px 0px; HEIGHT: 76px; RIGHT: -5px; _bottom: -5px; _background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/bg-deals-default-isopen.png');}
.leftdiv3 .box li2 .liwrap .info .soldout {Z-INDEX: 1; POSITION: absolute; WIDTH: 122px; BOTTOM: 0px; BACKGROUND: url(../images/bg-deals-default-soldout.png) no-repeat 0px 0px; HEIGHT: 69px; RIGHT: 12px; _bottom: 0px; _background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/bg-deals-default-soldout.png');}
.leftdiv3 .box .li2 .liwrap .info .infoleft{width:188px;padding:0 8px 0 0;float:left;}
.leftdiv3 .box .li2 .liwrap .info .infoleft .amount{width:186px;height:29px;line-height:29px; float:left;text-align:center;border:#e0e0e0 solid 1px; overflow:hidden}
.leftdiv3 .box .li2 .liwrap .info .infoleft .amount span{ font-size:18px; font-weight:bold; color:#c40000;}
.leftdiv3 .box .li2 .liwrap .info .infoleft .price{width:186px;height:80px;border:#d5d7d6 solid 1px;border:#e0e0e0 solid 1px;float:left;margin:5px 0 0 0;overflow:hidden}
.leftdiv3 .box .li2 .liwrap .info .infoleft .price p{line-height:25px;background:#e2e2e2; text-align:center}
.leftdiv3 .box .li2 .liwrap .info .infoleft .price cite{line-height:25px; text-align:center; display:block;}
.leftdiv3 .box .li2 .liwrap .info .infoleft .price span{ font-weight:bold;}
.leftdiv3 .box .li2 .liwrap .info .pic{width:120px;height:120px;float:left;border:#e0e0e0 solid 1px;}

.leftdiv5{width:772px;float:left;margin:10px 0 0 0;}
.leftdiv5 .top{width:772px;height:8px;float:left; background:url(../images/g_div1_4.gif) no-repeat; overflow:hidden;}
.leftdiv5 .bottom{width:772px;height:8px;float:left; background:url(../images/g_div1_3.gif) no-repeat;overflow:hidden;}
.leftdiv5 .box{width:772px;float:left; background:url(../images/g_div1_2.gif) repeat-y;min-height:100px;height:auto !important;height:100px;overflow:visible;}
.leftdiv5 .box .title{width:170px;line-height:30px;background:#01559d;font-size:16px;font-weight:bold;color:#FFFFFF; text-align:center;margin:0 0 0 30px;}
.leftdiv5 .box .text{width:700px;line-height:26px; font-size:14px;padding:15px 36px;}
.leftdiv5 .box .text2{width:700px;padding:15px 36px;}
.leftdiv5 .box ul{width:720px;height:229px;padding:21px 0 0 40px; float:left;}
.leftdiv5 .box li{width:144px; float:left;}
.leftdiv5 .box li .pro_pic{width:120px;height:120px;float:left;border:#E0E0E0 solid 1px;}
.leftdiv5 .box li .pro_pic a{}
.leftdiv5 .box li .pro_pic a:hover{}
.leftdiv5 .box li .pro_price{width:120px;font-size:14px;margin:9px 0 0 0;padding:0 0 0 6px;font:"瀹��"; float:left}
.leftdiv5 .box li .pro_price span{font-size:18px;font-weight:bold;color:#FF0000;font:Tahoma;padding:0 0 0 3px;font-family:"Times New Roman"}
.leftdiv5 .box li .pro_des{width:114px;height:44px;margin:4px 0 0 0;line-height:15px;padding:0 0 0 4px;word-break: break-all;overflow:hidden;float:left}
.leftdiv5 .box li .pro_select{width:70px;padding:7px 0 0 50px;*padding:3px 0 0 50px; float:left;}

.leftdiv5 .set_1_r{width:720px;float:left;margin:10px 0 0 30px;display:inline}
.leftdiv5 .set_1_r .pageup{width:13px;padding:60px 5px 0 5px;float:left;}
.leftdiv5 .set_1_r .pagedn{width:13px;padding:60px 0 0 5px;float:left}
.leftdiv5 .set_1_r .set_1_r_unit{width:620px;float:left;height:190px;position:relative;style="z-index:5";overflow:hidden}

.leftdiv5 .set_1_r .smallunit {position:absolute;width:10000px;left:0px; height:190px; overflow:hidden;}

.leftdiv5 .set_1_r ul{width:620px;height:auto;padding:0 20px;float:left;}
.leftdiv5 .set_1_r li{width:120px;float:left;padding:7px 0 7px 4px;}
.leftdiv5 .set_1_r .set_1_r_1{width:100px;height:100px;border:#DDDDDD solid 1px; text-align:center;margin:0 0 0 7px;}
.leftdiv5 .set_1_r .set_1_r_2{width:114px;height:36px;line-height:18px;text-align:center;overflow:hidden;color:#444444;margin:5px 0 0 0;word-break: break-all;overflow:hidden;}
.leftdiv5 .set_1_r .set_1_r_3{width:114px;height:18px;text-align:center;overflow:hidden;color:#747474;}
.leftdiv5 .set_1_r .set_1_r_4{width:114px;height:18px;text-align:center;overflow:hidden;color:#E13A00;font-weight:bold;}
.leftdiv5 .set_1_r .set_1_r_5{width:114px; text-align:center;margin:5px 0 0 0;}

.leftad{width:772px;height:100px; float:left; margin:10px 0 0 0;}
.mainright .rightdiv1{width:200px;float:left;}
.mainright .rightdiv1 .top{width:200px;height:8px;float:left;}
.mainright .rightdiv1 .box{width:170px;float:left;background:url(../images/g_r_d2.gif) repeat-y;padding:5px 15px;min-height:120px;height:auto !important;height:120px;}
.mainright .rightdiv1 .box p{color:#000;font-weight:bold;padding:3px 0;}
.mainright .rightdiv1 .box cite{color:#666;line-height:19px;}
.mainright .rightdiv1 .bottom{width:200px;height:7px;float:left;}
.mainright .rightdiv2{width:200px;float:left;margin:8px 0 0 0;}
.mainright .rightdiv3{width:200px;height:55px;overflow:hidden;background:url(../images/g_right_bg2.gif) no-repeat;float:left;margin:8px 0 0 0; font-family:"瀹��";padding:15px 0 0 0;}
.mainright .rightdiv3 p{text-align:center;color:#666666;font-size:12px}
.mainright .rightdiv3 cite{ display:block;text-align:center;color:#ff0000;font-size:30px}
.mainright .rightdiv3 span{font-size:18px}
.mainright .rightdiv4{width:200px;float:left;margin:8px 0 0 0;}
.mainright .rightdiv5{width:200px;height:149px;overflow:hidden; background:url(../images/g_right_bg3.gif) no-repeat;float:left;margin:8px 0 0 0;}
.mainright .rightdiv5 p{padding:15px 22px 10px 22px; font-size:14px; font-weight:bold;}
.mainright .rightdiv5 cite{padding:0 22px;line-height:18px; display:block;}
.mainright .rightdiv5 .email{width:189px; float:left;padding:15px 0 0 11px;}
.mainright .rightdiv5 .email input{width:104px;height:19px;line-height:19px;padding:0 3px;}
.mainright .rightdiv5 .email .left{ float:left}
.mainright .rightdiv5 .email .right{ float:left;padding:0 0 0 3px;}
.mainright .rightdiv6{width:194px;height:137px;float:left;margin:8px 0 0 0; overflow:hidden; background:url(../images/g_right_bg4.gif) no-repeat;padding:63px 0 0 6px;}
.mainright .rightdiv6 .input1{width:180px;height:90px; border:#b1c3cd solid 1px;font-family:"瀹��"; font-size:12px;padding:3px;}
.mainright .rightdiv6 .bottom{float:left;margin:2px 0 0 0;}
.mainright .rightdiv6 .bottom .left{ float:left;padding:3px 0 0 20px; font-family:"瀹��"}
.mainright .rightdiv6 .bottom .btn{float:right;padding:0 20px 0 0;}
.mainright .rightdiv7{width:200px;float:left;position:relative;}
.mainright .rightdiv7 .rd7_right_icon{Z-INDEX: 1;POSITION: absolute;WIDTH: 67px;HEIGHT: 67px;top:0;BACKGROUND:url(../images/groundbuy_right_icon.png) no-repeat 0px 0px;RIGHT:0;_top:0;_background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/groundbuy_right_icon.png');}
.mainright .rightdiv7 .rd7_top{width:200px;float:left;}
.mainright .rightdiv7 .rd7_box{width:200px;float:left; background:url(../images/groundbuy_top_bg2.gif) repeat-y;}
.mainright .rightdiv7 .rd7_box .rd7_pic{width:200px;float:left;text-align:center;}
.mainright .rightdiv7 .rd7_box .rd7_name{width:154px;line-height:16px;height:32px;float:left;padding:0 23px;word-break: break-all; overflow:hidden;margin:3px 0 0 0;}
.mainright .rightdiv7 .rd7_box .rd7_name a{color:#7b7b7b;}
.mainright .rightdiv7 .rd7_box .rd7_price{width:184px;height:35px;background:url(../images/rd7_price_bg.gif) no-repeat;float:left;margin:5px 0 0 8px;display:inline;}
.mainright .rightdiv7 .rd7_box .rd7_price p{width:115px;float:left;color:#FFFFFF;font-size:26px;font-weight:bold;overflow:hidden;padding:3px 0 0 5px;}
.mainright .rightdiv7 .rd7_box .rd7_price span{font-size:18px;}
.mainright .rightdiv7 .rd7_box .rd7_price cite{width:51px;float:left;padding:7px 0 0 13px;}
.mainright .rightdiv7 .rd7_bottom{width:200px;float:left;}

.packing{width:702px; float:left}
.packingbox{width:680px;background:#FAFAFA;border:#DCDCDC solid 1px;padding:10px 10px;margin:7px 0 0 0;float:left; display:inline;}
.packingbox .packingtop{width:680px;float:left}
.packingbox .packingpic{width:70px;height:70px;border:#DCDCDC solid 1px;margin:0 20px 0 0;float:left}
.packingbox .packingname{width:580px;border-bottom:#EAEAEA solid 1px;padding:0 0 5px 0;}
.packingbox .packingname p{float:left;color:#2379B5;font-weight:bold;}
.packingbox .packingname p a{color:#2379B5;font-weight:bold;}
.packingbox .packingname cite{float:right;color:#A0A0A0;padding:0 22px 0 0;}
.packingbox .packingcontent{width:580px;line-height:20px;padding:5px 0 0 0;}
.packingbox .packingbtn{ float:right}
.packingbox .packingbtn a{width:50px;height:22px; background:url(../images/packing_btn_bg.gif) no-repeat;line-height:22px; text-align:center; color:#444; float:left;margin:0 6px 0 0;}
.packingbox .packingreply{width:590px;padding:7px 0 0 65px;float:left;border-top:#EAEAEA solid 1px;margin:10px 0 0 0;}
.packingbox .packingreply p{float:left}
.packingbox .packingreply p span{ color:#3C8226;}
.packingbox .packingreply p a{color:#2379B5;}
.packingbox .packingreply cite{float:right;color:#A0A0A0;padding:0 22px 0 0;}
.packingbox .replycontent{width:560px;float:left;padding:6px 0 6px 22px;line-height:20px;}
.packingbox .packcite{width:650px;background:#FFFFFF;border:#EAEAEA solid 1px;margin:0 0 10px 0;padding:5px 10px;}
.packingbox .packcite p{float:left}
.packingbox .packcite cite{float:right;color:#A0A0A0;}
.packingbox .packcite p a{color:#2379B5;}
.packingbox .packcite .packingcontent{width:650px;line-height:20px;padding:5px 0;}
.packingreview{width:682px;background:#EFEFEF;border:#DDDDDD solid 1px;padding:10px 10px;margin:8px 0 0 0;float:left; display:inline;}
.packingreview .cite{width:650px; color:#666; float:left;padding:5px 0 15px 20px;line-height:16px;}
.packingreview .p_re_div1{padding:0 0 10px 0;float:left;}
.packingreview .p_re_div1 p{width:90px; float:left; text-align:center; font-weight:bold;padding:10px 0 0 0;}
.packingreview .p_re_div1 cite{width:590px; float: left}
.packingreview .p_re_div1 textarea{width:570px;height:86px;border:#DDDDDD solid 1px;background:#FFF;padding:5px;color:#444;}
.packingreview .p_re_div2{padding:0 0 0 200px;margin:7px 0 0 0;}
.packingreview .p_re_div2 img{margin:0 0 0 5px;}
.packingtitle{width:702px;}
.packingtitle p{float:left;padding:0 0 0 25px;}
.packingtitle cite{float:right}
.listbottom{width:702px;padding:10px 0 0 0; float:left}
.page{float:right;padding:0 20px 0 0;}
.page .current{width:26px;height:26px;line-height:26px;color:#E13A00; text-align:center; font-weight:bold;font-size:14px;float:left}
.page .page01{width:26px;height:26px;line-height:26px; text-align:center;float:left; border:#CCCCCC solid 1px; color:#2379B5; margin:0 0 0 2px;float:left;font-size:14px;}
.page .page01:hover{width:26px;height:26px;line-height:26px; text-align:center;float:left; border:#C0C0C0 solid 1px; color:#2379B5; margin:0 0 0 2px;float:left;font-size:14px; font-weight:bold; background:#F0F0F0;}
.page .page02{height:26px;line-height:24px;float:left;padding:0 8px;}
.page .page03{width:42px;height:28px;float:left;color:#989898;font-size:14px;line-height:28px; background:url(../images/pgup.gif) 0 3px no-repeat;padding:0 0 0 23px;margin:0 10px 0 0;}
.page .page03:hover{background:url(../images/pgupa.gif) 0 3px no-repeat;color:#6F6F6F;}
.page .page04{width:42px;height:28px;float:left;color:#989898;font-size:14px;line-height:28px; background:url(../images/pgdn.gif) 50px 3px no-repeat;padding:0 23px 0 0 ;margin:0 0 0 10px;}
.page .page04:hover{background:url(../images/pgdna.gif) 50px 3px no-repeat;color:#6F6F6F;}
.page .pageleft{ float:left;}
.gotopage{float:left;padding:0 0 0 15px;}
.gotopage .goto1{float:left; font-size:14px;padding:6px 3px 0 3px;}
.gotopage .goto2{float:left;padding:3px 3px 0 3px;}
