.left_2 {
	width: 30%;
}

.line-dotted {
	border: 1px #ccc dotted;
	height: 1px;
	margin: 20px 0;
}

.span10-right {
	background: url(../../assets/img/span_bg.png) top left no-repeat;
	padding-left: 30px;
}

.containerb {
	margin-bottom: 30px;
}

.fixed-bottom-div {
	display: inline;
	margin-left: 10px;
}

.fixed-bottom-cp {
	display: inline;
	margin-right: 10px;
}

.smallt {
	margin-top: 10px;
}

.divmargin20 {
	margin-top: 20px;
}

.divmarginb20 {
	margin-bottom: 20px;
}

.navbar-innerb {
	min-height: 30px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#fff2f2f2', GradientType=0);
	*zoom: 1;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	line-height: 30px;
}

.navbar-innerb:before,.navbar-innerb:after {
	display: table;
	line-height: 0;
	content: "";
}

.navbar-innerb:after {
	clear: both;
}

.navbar-innert {
	min-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#fff2f2f2', GradientType=0);
	*zoom: 1;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	line-height: 30px;
}

.navbar-innert:before,.navbar-innert:after {
	display: table;
	line-height: 0;
	content: "";
}

.navbar-innert:after {
	clear: both;
}
/* Bootstrap code userinfos
-------------------------------------------------- */

/* Base class */
.bs-docs-userinfo {
	position: relative;
	margin: 0px 0;
	padding: 39px 19px 14px;
	*padding-top: 19px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Echo out a label for the userinfo */
.bs-docs-userinfo:after {
	content: "娆㈣繋鐧诲綍锛�;
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

/* Remove spacing between an userinfo and it's code */
.bs-docs-userinfo+.prettyprint {
	margin-top: -20px;
	padding-top: 15px;
	line-height: 150%;
	font-size: 12px;
}

/* Tweak userinfos
------------------------- */
.bs-docs-userinfo>p:last-child {
	margin-bottom: 0;
}

.bs-docs-userinfo .table,.bs-docs-userinfo .progress,.bs-docs-userinfo .well,.bs-docs-userinfo .alert,.bs-docs-userinfo .hero-unit,.bs-docs-userinfo .pagination,.bs-docs-userinfo .navbar,.bs-docs-userinfo>.nav,.bs-docs-userinfo blockquote
	{
	margin-bottom: 5px;
}

.bs-docs-userinfo .pagination {
	margin-top: 0;
}

.bs-navbar-top-userinfo,.bs-navbar-bottom-userinfo {
	z-index: 1;
	padding: 0;
	height: 90px;
	overflow: hidden; /* cut the drop shadows off */
}

.bs-navbar-top-userinfo .navbar-fixed-top,.bs-navbar-bottom-userinfo .navbar-fixed-bottom
	{
	margin-left: 0;
	margin-right: 0;
}

.bs-navbar-top-userinfo {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.bs-navbar-top-userinfo:after {
	top: auto;
	bottom: -1px;
	-webkit-border-radius: 0 4px 0 4px;
	-moz-border-radius: 0 4px 0 4px;
	border-radius: 0 4px 0 4px;
}

.bs-navbar-bottom-userinfo {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.bs-navbar-bottom-userinfo .navbar {
	margin-bottom: 0;
}

form.bs-docs-userinfo {
	padding-bottom: 19px;
}

/* Images */
.bs-docs-userinfo-images img {
	margin: 10px;
	display: inline-block;
}

/* Tooltips */
.bs-docs-tooltip-userinfos {
	text-align: center;
	margin: 0 0 10px;
	list-style: none;
}

.bs-docs-tooltip-userinfos li {
	display: inline;
	padding: 0 10px;
}

/* Popovers */
.bs-docs-userinfo-popover {
	padding-bottom: 24px;
	background-color: #f9f9f9;
}

.bs-docs-userinfo-popover .popover {
	position: relative;
	display: block;
	float: left;
	width: 260px;
	margin: 20px;
}

/* sidenavh for Docs
-------------------------------------------------- */
.bs-docs-sidenavh {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

.bs-docs-sidenavh>li>a {
	display: block;
	width: 190px \9;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
}

.bs-docs-sidenavh>li:first-child>a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.bs-docs-sidenavh>li:last-child>a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.bs-docs-sidenavh>.active>a {
	position: relative;
	z-index: 2;
	padding: 9px 15px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
	-webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .1);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .1);
}

/* Subnav */
.subnav {
	width: 100%;
	height: 36px;
	background-color: #eeeeee; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	/* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5),
		color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	/* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	/* IE10+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	/* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f5f5f5',
		endColorstr='#eeeeee', GradientType=0); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	/* W3C */
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.subnav .nav {
	margin-bottom: 0;
}

.subnav .nav>li>a {
	margin: 0;
	padding-top: 11px;
	padding-bottom: 11px;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #e5e5e5;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.subnav .nav>.active>a,.subnav .nav>.active>a:hover {
	padding-left: 13px;
	color: #777;
	background-color: #e9e9e9;
	border-right-color: #ddd;
	border-left: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
}

.subnav .nav>.active>a .caret,.subnav .nav>.active>a:hover .caret {
	border-top-color: #777;
}

.subnav .nav>li:first-child>a,.subnav .nav>li:first-child>a:hover {
	border-left: 0;
	padding-left: 12px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.subnav .nav>li:last-child>a {
	border-right: 0;
}

.subnav .dropdown-menu {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media ( min-width : 980px) {
	.subnav-fixed {
		position: fixed;
		top: 40px;
		left: 0;
		right: 0;
		z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
		border-color: #d5d5d5;
		border-width: 0 0 1px; /* drop the border on the fixed edges */
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1);
		-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1);
		box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		/* IE6-9 */
	}
	.subnav-fixed .nav {
		width: 938px;
		margin: 0 auto;
		padding: 0 1px;
	}
	.subnav .nav>li:first-child>a,.subnav .nav>li:first-child>a:hover {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}

.navbar .brand2 {
	display: block;
	float: left;
	padding: 10px 20px 10px;
	margin-left: 0px;
	font-size: 20px;
	font-weight: 200;
	color: #666666;
	text-shadow: 0 1px 0 #ffffff;
}

.navbar .brand2:hover {
	text-decoration: none;
}

/**
后端jshoper3自定义css
**/
#triggers img {
	cursor: pointer;
	margin: 0 5px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 2px;
	width: 200px;
	height: 150px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#maintriggers img {
	cursor: pointer;
	margin: 0 5px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 2px;
	width: 200px;
	height: 150px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}