@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,     
pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
 } 
a{
 hide-focus: expression(this.hideFocus=true);  /* for ie 5+ */
 outline: none;  /* for firefox 1.5 + */
}/*去除点击虚线框*/   
fieldset, img {     
 border: 0;    
 }    
    
    
ol, ul {    
 list-style: none;    
 }    
address, caption, cite, code, dfn, em, strong, th, var {    
 font-weight: normal;    
 font-style: normal;    
 }    
caption, th {    
 text-align: left;    
 }    
h1, h2, h3, h4, h5, h6 {    
 font-weight: normal;    
 font-size: 100%;    
 }    
q:before, q:after {    
 content: '';    
 }    
abbr, acronym {     
 border: 0;    
 }  
