@charset "gb2312";

body{font-family:Arial,Lucida,Verdana,Helvetica,sans-serif,"宋体";margin:0;padding:0;font-size:12px;color:#454545; background: url(../images_order/body_background.gif) top repeat-x #FFF;}
ul,li{padding:0px;margin:0px;list-style-type:none;}
.clear{clear:both;}
p,input,form,cite,h1,code{margin:0px;padding:0px;font-style: normal;}
img{border:0;}
a{text-decoration:none;color:#666666;}
a:hover{text-decoration:underline;color:#ff6600}
*{margin:0;padding:0;}


#header{width:980px;margin:0 auto; padding:0; font-family:"宋体";}
.shortcut{width:980px;height:28px;overflow:hidden;}
.head_hotline{width:250px;float:left; color:#525252;}
.head_hotline p{float:left;height:21px;padding:7px 0 0 26px;}
.head_hotline span{ height:23px;padding:6px 0 0 8px;float:left;font-family:Arial;font-size:14px;color:#666;}
.head_topsidenav{width:690px;height:22px;float:right;color:#626262;text-align:right;padding:7px 10px 0 0;overflow:hidden;;}
.head_topsidenav span{color:#bfbfbf;}
.head_topsidenav a{color:#626262;padding:0;}
.head_topsidenav a:hover{color:#333;text-decoration: none;}
.head_nav{width:980px;height:77px;}
.head_shopcar_logo{float:left;padding:15px 0 0 30px;}
.head_shopcar_step{ float:right;color:#FFFFFF;font-weight:bold;margin:28px 20px 0 0;}
.head_shopcar_step .steppic{float:left;}
.head_shopcar_step .step1{height:24px;line-height:24px;float:left;background:#e13a00;padding:0 25px;}
.head_shopcar_step .step2{height:24px;line-height:24px;float:left;background:#999999;padding:0 25px;}

#foot{width:980px;margin:auto;}
.servicepro1{width:980px; float:left; display:block}
.servicepro1 .servicepro1_t{ width:980px;height:8px;background:url(../images_order/servicepro_t_c.gif) repeat-x;}
.servicepro1 .servicepro1_t p{ float:left;}
.servicepro1 .servicepro1_t cite{ float:right;}
.servicepro1 .servicepro1_b{ width:980px;height:6px;background:url(../images_order/servicepro_b_c.gif) repeat-x;float:left}
.servicepro1 .servicepro1_b p{ float:left;}
.servicepro1 .servicepro1_b cite{ float:right;}
.servicepro1_c{width:978px;border-left:#D8D8D8 solid 1px;border-right:#D8D8D8 solid 1px;overflow:auto;}
.servicepro1_l{width:699px;float:left;}
.servicepro1_l .service_z1{width:139px;float:left}
.servicepro1_l .service_z1 h1{width:139px;height:33px;float:left;background:url(../images_order/s_z1_bg.gif) no-repeat right; text-align:center; font-size:0;}
.servicepro1_l .service_z1 ul{width:109px;height:107px;background:url(../images_order/s_z1_bg2.gif) no-repeat right top;padding:6px 0 0 30px; float:left}
.servicepro1_l .service_z1 li{width:90px;height:20px;line-height:20px;float:left;background:url(../images_order/s_z1_icon.gif) no-repeat 0 3px;padding:0 0 0 16px;}
.servicepro1_r{width:279px;float:left;}
.servicepro1_r p{width:279px; float:left;}
.servicepro1_r ul{width:279px; background:url(../images_order/servicepro_r_2.gif) repeat-y;overflow:auto; float:left}
.servicepro1_r li{width:230px;padding:5px 0 0 20px; overflow:hidden; float:left}
.servicepro1_r cite{width:279px; float:left;}
.servicepro2{width:980px;height:62px; background:#A00D01;margin:3px 0 0 0;float:left;}
.servicepro2_l{width:5px;height:62px; background:url(../images_order/servicepro_bg.gif) 0 0 no-repeat; float:left;}
.servicepro2_r{width:5px;height:62px; background:url(../images_order/servicepro_bg.gif) -5px 0 no-repeat;float:right;}
.servicepro2_1{float:left;margin:0 0 0 100px; display:inline}
.servicepro2_2{float:left;margin:0 0 0 60px;}
.servicepro2_4{float:left;margin:0 0 0 60px;}
.servicepro2_3{float:left;margin:0 0 0 60px;}
.link{/*overflow:auto;*/margin:12px 0 0 0;float:left;}
.link .linkbox{width:980px;float:left; text-align:center;}
.link .linkbox img{ float:none;margin:0 10px 0 0;}
.link .linkpic{float:left;}
.link .linkblank{width:16px;float:left;}
.link .linktext{width:980px;float:left;padding:10px 0 5px 0; color:#1A1A1A;}
.link .linktext p{width:60px;float:left;line-height:18px;padding:0 0 0 10px;}
.link .linktext cite{width:910px;height:36px;line-height:18px;float:left;}
.link .linktext a{ color:#606060;WHITE-SPACE: nowrap;}
.link .linktext a:hover{color:#1D1D1D;}
.copyright{width:980px;margin:6px 0 0 0;padding:16px 0 10px 0; float:left}
.copyright p{height:22px;text-align:center; color:#9D9D9D;}
.copyright span{line-height:20px;display:block;color:#676767;text-align:center;font-family: Arial, Helvetica, sans-serif,"宋体";}

.mt3{ margin:3px 0 0 0;}
.mt5{ margin:5px 0 0 0;}
.mt6{ margin:6px 0 0 0;}
.mt7{ margin:7px 0 0 0;}
.mt10{ margin:10px 0 0 0;}
.mt20{ margin:20px 0 0 0;}
.mt40{ margin:40px 0 0 0;}
.content{width:980px;float:left;}
.fb{font-weight:bold;}

#main{width:980px;margin:0 auto;font-family:宋体, Arial, Helvetica, sans-serif;color:#454545;}



/*收货人*/
.consignee_info{width:938px;float:left;border-top:#cccccc solid 1px;border-left:#cccccc solid 1px;border-right:#cccccc solid 1px;margin:0 0 0 20px;display:inline;}
.consignee_info h1{width:938px;height:31px;/*background:url(../images/consignee_info_h1.gif) repeat-x;*/float:left;font-weight:bold;font-size:14px;color:#585858;padding:10px 0 0 0;}
.consignee_info h1 p{padding:0 0 0 38px;float:left;line-height:31px;font-size:14px;}
.consignee_info h1 cite{float:right;padding:0 20px 0 0;line-height:31px;font-weight:normal;font-size:12px;}
.consignee_info a{color:#1a66b3;}
.consignee_info a:hover{color:#1a66b3;text-decoration: underline;}
.consignee_info .consignee_div1{width:880px;float:left;padding:10px 20px 20px 38px; font-size:12px;color:#666;}
.consignee_info .consignee_div2{width:938px;float:left;padding:5px 0;}
.consignee_address_wrap{width:780px;padding:3px 10px 6px 10px;border:#f0f0f0 solid 1px;background:#f9f9f9;float:left;margin:0 0 0 50px; color:#777;}
.consignee_info .consignee_div2 .consignee_address{width:780px;height:22px;padding:2px 0 0 0;float:left;}
.consignee_info .consignee_div2 .consignee_address s{padding:3px 0 0 8px;_padding:0 0 0 8px;/**padding:3px 0 0 0!important;*/float:left;}
.consignee_info .consignee_div2 .consignee_address span{padding:4px 0 0 8px;float:left;}
.consignee_info .consignee_div2 .consignee_address cite{padding:6px 5px 0 8px;*padding:5px 5px 0 8px!important;float:right;}
.consignee_info .consignee_div2 .consignee_address cite a{color:#666666; text-decoration:none;}
.consignee_info .consignee_div2 .consignee_address cite a:hover{text-decoration:underline;}
.consignee_info .consignee_div2 .other_address{width:370px;height:22px;padding:2px 0 0 230px;float:left;}
.consignee_info .consignee_div2 .address_content{width:898px;float:left;padding:0 0 0 40px;}
.consignee_info .consignee_div2 .address_content li{width:850px;height:24px;padding:4px 0;float:left}
.consignee_info .consignee_div2 .address_content li input{ border:#D1D1D1 solid 1px;height:16px;padding:3px; color:#666666}
.consignee_info .consignee_div2 .address_content li .input1{width:100px;}
.consignee_info .consignee_div2 .address_content li .input2{width:337px;}
.consignee_info .consignee_div2 .address_content li .input3{width:70px;}
.consignee_info .consignee_div2 .address_content li p{width:90px; float:left;text-align:right;padding:6px 0 0 0;}
.consignee_info .consignee_div2 .address_content li p span{ color:#E13A00;padding:0 5px 0 0;}
.consignee_info .consignee_div2 .address_content li cite{color:#9C9C9C;padding:0 0 0 13px; float:left;line-height:24px; color:#5e5e5e;}
.consignee_info .consignee_div2 .consignee_address_more{width:898px;height:24px;padding:8px 0 0 40px;float:left;background:#f1f1f1;}
.consignee_info .consignee_div2 .add_address{width:868px;padding:15px 0 5px 70px;float:left;}
.consignee_info .consignee_div2 .save_address{width:938px;padding:10px 0;float:left;}
.consignee_info .consignee_div2 .save_address a:hover{text-decoration:none;}

.fb{font-weight:bold;}

/*支付配送*/
.payingdeliver{width:938px;float:left;border-top:#e2e2e2 solid 1px;border-left:#cccccc solid 1px;border-right:#cccccc solid 1px;margin:0 0 0 20px;display:inline;}
.payingdeliver h1{width:938px;height:31px;float:left;font-weight:bold;font-size:12px;color:#585858;padding:10px 0 0 0;}
.payingdeliver h1 p{padding:0 0 0 38px;float:left;line-height:31px;font-size:14px;}
.payingdeliver h1 cite{float:right;padding:0 20px 0 0;line-height:31px;font-weight:normal;}
.payingdeliver a{color:#1a66b3;}
.payingdeliver a:hover{color:#1a66b3;text-decoration:underline;}
.payingdeliver .payingdeliver_div1{width:878px;float:left;padding:10px 20px 20px 40px;line-height:26px;font-size:12px;color:#666;}
.payingdeliver .payingdeliver_div1 ul{}
.payingdeliver .payingdeliver_div1 li{}
.payingdeliver .modify_pay{width:938px;padding:10px 0;float:left;}
.payingdeliver .modify_pay a:hover{text-decoration:none;}
.payingdeliver .payingdeliver_div2{width:938px;float:left;padding:5px 0;}
.payingdeliver .payingdeliver_div2 .pmode{width:898px;height:26px;float:left;background:#ffffff;padding:6px 0 0 40px;}
.payingdeliver .payingdeliver_div2 .pmode cite{padding:3px 0 0 0;_padding:0 0 0 0;float:left;}
.payingdeliver .payingdeliver_div2 .pmode p{width:70px;padding:4px 0 0 8px;float:left;}
.payingdeliver .payingdeliver_div2 .pmode code{width:225px;padding:4px 0 0 8px;float:left;}
.payingdeliver .payingdeliver_div2 .pmode span{width:170px;padding:4px 0 0 8px;float:left;}
.payingdeliver .payingdeliver_div2 .pmode_content{width:858px;float:left;line-height:1.2em;padding:10px 20px 10px 60px;}
.payingdeliver .payingdeliver_div3{width:938px;float:left;padding:5px 0;}
.payingdeliver .payingdeliver_div3 .dmode{width:898px;height:26px;float:left;background:#ffffff;padding:6px 0 0 40px;}
.payingdeliver .payingdeliver_div3 .dmode cite{padding:3px 0 0 0;_padding:0 0 0 0;float:left;}
.payingdeliver .payingdeliver_div3 .dmode p{width:60px;padding:4px 0 0 8px;float:left;}
.payingdeliver .payingdeliver_div3 .dmode code{width:110px;padding:4px 0 0 8px;float:left;}
.payingdeliver .payingdeliver_div3 .dmode span{width:650px;padding:4px 0 0 8px;float:left;}
.payingdeliver .payingdeliver_div3 .dmode_content{width:878px;float:left;line-height:1.2em;padding:8px 20px 8px 40px;}
.payingdeliver .payingdeliver_div3 .dmode4_2{width:750px;background:#FFF;float:left;padding:4px 0 0 40px;}
.payingdeliver .payingdeliver_div3 .dmode4_2 p{ float:left;}
.payingdeliver .payingdeliver_div3 .dmode4_2 cite{float:left;padding:0 6px 0 0;height:24px;}
.payingdeliver .payingdeliver_div3 .dmode4_2 span{float:left;}
.payingdeliver .payingdeliver_div3 .dmode4_2 span a{color:#1A66B3;}
.payingdeliver .payingdeliver_div4{width:690px;padding:10px 30px 0 30px;color:#585858;margin:0 0 0 10px;line-height:26px;float:left;display:inline;}
.payingdeliver .payingdeliver_div4 .dmode2_1{width:600px;float:left;}
.payingdeliver .payingdeliver_div4 .dmode2_1 p{width:66px; float:left}
.payingdeliver .payingdeliver_div4 .dmode2_1 span{width:500px;float:left;line-height:22px;}
.payingdeliver .payingdeliver_div4 .dmode2_1 cite{padding:3px 5px 0 0;}
.payingdeliver .payingdeliver_div4 .dmode2_2{width:650px;float:left;}
.payingdeliver .payingdeliver_div4 .dmode2_3{width:650px;float:left;}
.payingdeliver h2{width:938px;height:31px;background:url(../images_order/consignee_info_h1.gif) repeat-x;float:left;font-weight:bold;font-size:12px;color:#585858;border-top:#b7b7b7 solid 1px;}
.payingdeliver h2 p{padding:0 0 0 38px;float:left;line-height:31px;}
.payingdeliver h2 cite{float:right;padding:0 20px 0 0;line-height:31px;font-weight:normal;}

.payingbox {margin: 20px 0px 0px 50px}
.modetitle{width:820px; color:#585858; border-bottom:#D2D2D2 solid 1px;line-height:35px; font-size:14px; font-weight:bold;}
.modetitle span{ font-weight:normal; color:#E13A00;padding:0 5px 0 0;}
.payingbox .pmode1{padding:2px 0 0px 10px;}
.payingbox .pmode1 cite{padding:0 5px 0 0;}
.payingbox .pmode1 span{color:#E13A00;padding:0 0 0 5px;}
.payingbox .pmode2{padding:5px 0 5px 30px;}
.payingbox .pmode3{padding:5px 0 5px 40px;}
.payingbox .pmode3 cite{padding:0 5px 0 0;}
.deliverbox{margin:0 0 0 50px;font-family:"宋体"}
.deliverbox .dmode1{padding:0px 0 5px 0px;color:#E13A00;margin:10px 0 0 0;}
.deliverbox .dmode2{width:690px;padding:10px 0px;color:#585858;margin:0px 0 0 0px;background:#F6F6F6;border:#E7E7E7 solid 1px;line-height:26px;}
.deliverbox .dmode2 p{width:66px; float:left}
.deliverbox .dmode2 span{width:500px;float:left;line-height:22px;}
.deliverbox .dmode2 cite{padding:3px 5px 0 0;}
.deliverbox .dmode2 cite{padding:3px 5px 0 0;}
.deliverbox .dmode3{margin:10px 0 0 0;padding:0 0 0 160px;}
.deliverbox .dmode4{width:690px;padding:0;color:#585858;margin:0 0 0 0px;float:left;}
.deliverbox .dmode4 .dmode4_1 span{width:520px;float:left;line-height:22px;}
.deliverbox .dmode4 .dmode4_1 cite{padding:0px 5px 0 10px;}

.dmode4_2{width:658px;padding:0 0 0 5px; float:left;margin:1px 0 0 62px;}
.dmode4_2 cite{float:left;padding:0px 0px 0 0;*padding:0 0px 0 0;}
.dmode4_2 p{width:220px;float:left;padding:2px 2px 0 0;*padding:1px 1px 0 0;}
.dmode4_2 span{float:right;}
.dmode4_2 span a{color:#1A66B3;}
.dmode4_2 span a:hover{color:#00397F;}


/*发票信息*/
.receiptinfo{width:938px;float:left;border-top:#e2e2e2 solid 1px;border-left:#cccccc solid 1px;border-right:#cccccc solid 1px;margin:0 0 0 20px;display:inline;}
.receiptinfo h1{width:938px;height:31px;float:left;font-weight:bold;font-size:12px;color:#585858;padding:10px 0 0 0;}
.receiptinfo h1 p{padding:0 0 0 38px;float:left;line-height:31px;font-size:14px;}
.receiptinfo h1 cite{float:right;padding:0 20px 0 0;line-height:31px;font-weight:normal;}
.receiptinfo a{color:#1a66b3;}
.receiptinfo a:hover{color:#1a66b3;text-decoration:underline;}
.receiptinfo .receipt_div1{width:878px;float:left;padding:10px 20px 20px 40px;font-size:12px;color:#666666;}
.receiptinfo .receipt_div1 ul{}
.receiptinfo .receipt_div1 li{padding:7px 0;}
.receiptinfo .receipt_div2{width:938px;float:left;padding:5px 0;}
.receiptinfo .receipt_div2 .receipt_tab{width:898px;height:32px;padding:0 0 0 40px;float:left;background:#ffffff;}
.receiptinfo .receipt_div2 .receipt_tab ul{}
.receiptinfo .receipt_div2 .receipt_tab li{float:left;padding:0 20px 0 0;}
.receiptinfo .receipt_div2 .receipt_tab li p{height:24px;_height:28px;float:left;padding:8px 6px 0 0;_padding:4px 6px 0 0;}
.receiptinfo .receipt_div2 .receipt_tab li p input{padding:0;margin:0;}
.receiptinfo .receipt_div2 .receipt_tab li span{height:23px;float:left;padding:9px 6px 0 0;}
.receiptinfo .receipt_div2 .receipt_show1{width:928px;float:left;padding:10px 0 0 0;}
.receiptinfo .receipt_div2 .receipt_show1 ul{width:680px;float:left;margin:8px 0 0 80px;}
.receiptinfo .receipt_div2 .receipt_show1 li{float:left;padding:0 7px 0 0;}
.receiptinfo .receipt_div2 .receipt_show1 li span{padding:0 0 0 0;_padding:5px 0 0 0;*padding:6px 0 0 0;float:left;}
.receiptinfo .receipt_div2 .receipt_show1 li p{padding:0 4px 0 0;_padding:0 2px 0 0;float:left;}
.receiptinfo .receipt_div2 .receipt_show1 li s{padding:0 4px 0 0;_padding:0 2px 0 0;float:left;}
.receiptinfo .receipt_div2 .receipt_show1 li cite{padding:0 4px 0 0;_padding:5px 2px 0 0;float:left;}
.receiptinfo .receipt_div2 .receipt_show1 li code{padding:0 4px 0 0;_padding:5px 2px 0 0;float:left;color:#FF0000;}
.receiptinfo .receipt_div2 .receipt_show2{width:928px;float:left;padding:10px 0 0 0;}
.receiptinfo .receipt_div2 .receipt_show2 ul{width:400px;float:left;margin:0 0 0 80px; display:inline;}
.receiptinfo .receipt_div2 .receipt_show2 li{width:380px;height:30px;float:left;}
.receiptinfo .receipt_div2 .receipt_show2 li p{width:85px;float:left;padding:4px 0 0 0;}
.receiptinfo .receipt_div2 .receipt_show2 li cite{width:225px;float:left;line-height:22px;}
.receiptinfo .receipt_div2 .receipt_show2 li cite input{height:18px;line-height:18px;}
.receiptinfo .receipt_div2 .receipt_show2 li span{ color:#e13a00;padding:4px 0 0 0;float:left;}
.receiptinfo .receipt_div2 .receipt_show2 .des{width:340px;float:left;margin:27px 0 0 0; color:#585858;line-height:1.6em;}
.receiptinfo .savereceiptinfo{width:858px;float:left;padding:10px 0;}
.receiptinfo .savereceiptinfo a:hover{text-decoration:none;}


.appendinfo{width:950px;float:left; font-family:"宋体";}
.appendinfo_title{width:950px;height:35px;background:url(../images/shop_t_bg.gif) repeat-x bottom;float:left;padding:5px 0 0 0;}
.appendinfo_title p{height:27px; background:url(../images/shop_t_icon.gif) 15px 5px no-repeat;float:left;color:#454545;padding:8px 0 0 43px; font-weight:bold; font-size:14px;}
.appendinfo_title cite{ float:left;padding:9px 0 0 35px; color:#1A66B3;}
.appendinfo_title cite a{color:#1A66B3;}
.appendinfo_title cite a:hover{color:#00397F;}


.appendinfo .append_div1{width:780px;float:left;padding:20px 0 0 45px;}
.appendinfo .append_div1 p{float:left;padding:3px 0 0 0;}
.appendinfo .append_div1 cite{float:left;padding:0 3px 0 0;}
.appendinfo .append_div1 cite input{width:478px;height:60px; background:#FFFFFF; border:#D1D1D1 solid 1px;padding:3px;padding:5px 0 0 0;}
.appendinfo .append_div2{width:200px;float:left;padding:7px 0 0 240px;}

/*订单详细信息*/
.detailinfo{width:938px;float:left;border-top:#e2e2e2 solid 1px;border-left:#cccccc solid 1px;border-right:#cccccc solid 1px;border-bottom:#cccccc solid 1px;margin:0 0 0 20px;display:inline;}
.detailinfo h1{width:938px;height:31px;float:left;font-weight:bold;font-size:12px;color:#585858;padding:5px 0 5px 0;}
.detailinfo h1 p{padding:0 0 0 38px;float:left;line-height:31px;font-size:14px;}
.detailinfo h1 cite{float:left;padding:0 0 0 20px;line-height:31px;font-weight:normal;}
.detailinfo a{color:#1a66b3;}
.detailinfo a:hover{color:#1a66b3;text-decoration:underline;}
.detailinfo .detailinfo_div1{width:938px;float:left;margin:0 0 0 0;}
.car_table1{width:900px;border:#ebe9e2 solid 1px;margin:auto;}
.car_table1 td{ text-align:center;border:1px solid;border-color:#EBE9E2 #EBE9E2 #fff #fff;}
.car_table1 tr{background:#FFF;}
.car_table1 tr.bg2{background:#FFFDDD;}
.car_table1 tr.title{ line-height:32px; height:32px; color:#454545; background:#f5f5f5;}
.car_table1 tr.title td{ border:none;}
.car_table1 .img{ padding:5px 0 0 6px;width:73px; height:60px;float:left;}
.car_table1 .img img{width:60px; height:60px;}
.car_table1 .name{width:360px;float:left;line-height:16px;padding-top:9px;}
.car_table1 .name a{color:#454545;}
.car_table1 .name a:hover{color:#f60;}
.car_table1 .name span{color:#f00;cursor:pointer;}
.car_table1 .name em{color:#36c; cursor:pointer;}
.car_table1 .giftBtn{float:left;width:258px;margin-top:11px;cursor:pointer;}
.car_table1 td.td1{width:533px;text-align:left;padding-bottom:3px;border-left:0;}
.car_table1 td.td2{width:123px;}
.car_table1 td.td3{width:98px;line-height:18px;}
.car_table1 td.td3 span{color:#454545;text-decoration:line-through;}
.car_table1 .td4{width:60px;}
.car_table1 .td4 .inp{width:28px; height:18px;background:url(../images/car_inpbg.gif) top left no-repeat; line-height:18px;border:1px solid #A7A6AA;}
.car_table1 .td4 img{cursor:pointer;margin-bottom:-2px;*margin-bottom:0;}
.car_table1 .td5{width:85px;color:#454545}
.car_table1 .td6{width:119px;color:#E13A00;}
.car_table1 td.td7{width:100px;}
.car_table1 td.td7 a{color:#1A66B3;text-decoration:underline;}
.car_table1 td.td7 a:hover{color:#00397F;}
.car_table1 .giftTd{border:none;}
.car_table1 .gift{background:#fff;}
.car_table1 .gift .car_table2{width:900px;background:#f5f5f5;}
.car_table1 .giftTd2{border:none;width:900px; font-size:12px; padding:12px 0 15px 30px;line-height:20px; color:#E13A00;text-align:left}
.car_table1 .giftTd2 p{ font-weight:bold;}
.car_table2 tr { background:url(images/car_tab2line.gif) bottom repeat-x;}
.car_table2 tr.last { background:none;}
.car_table2 td{ border:none;color:#878787;}
.car_table2 td.td1_gift{width:525px;padding:3px 0 3px 13px; text-align:left; line-height:12px;color:#878787;}
.car_table2 td.td1_gift a{color:#878787;}
.car_table2 td.td1_gift a:hover{color:#f60;}
.car_table2 td.td1_gift span{color:#E13A00;margin-right:2px;}
.car_table2 td.td2_gift{width:123px;}
.car_table2 td.td3_gift{ line-height:14px; padding:8px 0;width:98px;}
.car_table2 td.td3_gift span{color:#999;text-decoration:line-through;}
.car_table2 td.td3_gift code{color:#333333;}
.car_table2 .td4_gift{width:60px;}
.car_table2 .td5_gift{width:85px;font-weight:bold;}
.car_table2 td.td6_gift{ color:#E13A00;width:119px;}
.car_table2 td.td7_gift{width:100px;}
.car_table2 td.td7_gift a{color:#878787;text-decoration:underline;}
.car_table2 td.td7_gift a:hover{color:#c00;}


.settlement{width:938px;float:left;margin:0;border-top:#e6e6e6 solid 1px;padding:0 0 20px 0;margin:20px 0 0 0;}
.set_l_div1{width:894px;height:34px;line-height:34px;float:left;/*border-bottom:#e6e6e6 solid 1px;*/margin:0 0 0 12px;padding:5px 0 5px 20px;color:#454545;font-size:14px;font-weight:bold;display:inline;}
.set_l_div2{width:575px;float:left;padding:0 0 0 43px;}
.set_l_div2 .set_l_div2_t{width:575px;height:20px;line-height:20px;color:#454545;padding:0 0 0 0;float:left;margin:15px 0 0 0; }
.set_l_div2 .set_l_div2_t p{float:left;height:17px;padding:10px 5px 0 0;}
.set_l_div2 .set_l_div2_t cite{color:#454545;font-weight:bold;float:left;height:25px;padding:2px 0 0 7px;font-size:12px;cursor:pointer;}
.set_l_div2 .set_l_div2_t cite a{color:#454545;font-weight:bold;font-size:12px;}
.set_l_div2 .set_l_div2_t cite a:hover{text-decoration:underline;}
.set_l_div2 .set_l_div2_t span{height:19px;float:left;padding:8px 0 0 0;}
.set_l_div2 .set_l_div2_box{width:562px;float:left;padding:0 0 0 13px;}
.set_l_div2 .set_l_div2_box .set_div2_d1{width:552px;float:left;padding:15px 10px 0 0;}
.set_l_div2 .set_l_div2_box .set_div2_d2{width:85px;height:42px; background:url(../images_order/youh_bg.gif) no-repeat; color:#FFF;float:left;padding:0 0 0 0;}
.set_l_div2 .set_l_div2_box .set_div2_d2 p{float:left; font-size:14px; font-weight:bold;padding:5px 0 0 19px;}
.set_l_div2 .set_l_div2_box .set_div2_d2 cite{width:85px;float:left;font-size:16px; font-weight:bold; text-align:center}
.set_l_div2 .set_l_div2_box .set_div2_d5{width:562px;float:left;padding:15px 0 0 0;}
.set_l_div2 .set_l_div2_box .set_div2_d3_1{width:158px;float:left;background:#ffffff;padding:5px;margin:5px 15px 0 0;}
.set_l_div2 .set_l_div2_box .set_div2_d4{width:65px;padding:8px 0 0 8px;float:left;}
.set_l_div2 .set_l_div2_box .set_div2_d3_2{width:158px;float:left;background:#fcddc2;padding:5px;margin:5px 15px 0 0;}

.set_l_div3{width:575px;float:left;padding:0 0 0 43px;}
.set_l_div3 .set_l_div3_t{width:575px;height:20px;line-height:20px;color:#454545;float:left;padding:0 0 0 0;margin:7px 0 0 0;}
.set_l_div3 .set_l_div3_t p{float:left;height:17px;padding:10px 5px 0 0;}
.set_l_div3 .set_l_div3_t cite{color:#454545;font-weight:bold;float:left;height:25px;padding:2px 0 0 7px;font-size:12px; cursor:pointer;}
.set_l_div3 .set_l_div3_t cite a{color:#454545;font-weight:bold;}
.set_l_div3 .set_l_div3_t cite a:hover{text-decoration:underline;}
.set_l_div3 .set_l_div3_t span{height:19px;float:left;padding:8px 0 0 0;}
.set_l_div3 .set_l_div3_box{width:562px;float:left;background:#FFFFFF;margin:5px 0 0 0;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d1{width:270px;padding:3px 0 0 0; float:left}
.set_l_div3 .set_l_div3_box .set_div3_div3_d1 p{float:left;padding:7px 4px 0 0;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d1 cite{float:left;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d1 cite input{width:70px;height:17px;border:#DEDEDE solid 1px;padding:3px;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d1 em{float:left;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d1 em input{width:182px;height:17px;border:#DEDEDE solid 1px;padding:3px;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d1 code{padding:0 0 0 5px;float:left;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d1 span{padding:6px 0 0 5px;float:left;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d1 span a{color:#1A66B3;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d1 span a:hover{color:#1A66B3;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d2{width:562px;height:30px;line-height:30px;padding:3px 0 0 0;float:left;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d2 span{color:#e13a00;font-weight:bold;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d3{width:562px;padding:10px 0 0 0; float:left}
.set_l_div3 .set_l_div3_box .set_div3_div3_d3 p{float:left;padding:7px 17px 0 0;margin:0 0 0 0; display:inline;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d3 cite{float:left;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d3 cite input{width:82px;height:17px;border:#DEDEDE solid 1px;padding:3px;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d3 em{float:left;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d3 em input{width:70px;height:17px;border:#DEDEDE solid 1px;padding:3px;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d3 code{padding:0 0 0 5px;float:left;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d3 span{padding:6px 0 0 5px;float:left;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d3 span a{color:#1A66B3;}
.set_l_div3 .set_l_div3_box .set_div3_div3_d3 span a:hover{color:#1A66B3;}

.set_l_div3 .set_l_div3_box .set_div3_div2{width:870px;padding:5px 0 0 40px; float:left;}
.set_l_div3 .set_l_div3_box .set_div3_div2 p{width:100px;height:20px;float:left;text-align:center; color:#FFFFFF;padding:9px 0 0 0;}
.set_l_div3 .set_l_div3_box .set_div3_div2 cite{float:left;height:20px;padding:7px 0 0 0;margin:0 0 0 8px;}
.set_l_div3 .set_l_div3_box .set_div3_div2 span{color:#E13A00;font-size:14px;font-weight:bold;}
.set_l_div3 .set_l_div3_box .coupon{width:830px; float:left;padding:12px 0 0 2px;margin:0 0 0 10px;}
.set_l_div3 .set_l_div3_box .coupon_div1{width:175px;height:54px;background: url(../images/set_div3_div2_3.gif) 6px 20px no-repeat #F0EAE6;float:left;padding:6px 0 0 25px;margin:0 0 0 7px;display:inline}
.set_l_div3 .set_l_div3_box .couponbtn{width:85px;height:22px;float:left;background:url(../images/set_div3_div2_4.gif) no-repeat;font-size:14px;font-weight:bold;color:#FFFFFF;text-align:center;padding:22px 0 0 0;}


.set_t_div{width:914px;float:left;padding:0 0 0 12px;}
.set_r_div1{width:894px;height:34px;line-height:34px;float:left;border-bottom:#e6e6e6 solid 1px;color:#454545;font-size:14px;font-weight:bold;display:inline;padding:5px 0 0 20px;}
.set_r_div2{width:914px;float:left;padding:10px 0;display:inline;}
.set_r_div2 .set_r_div2_1{width:864px;float:left;color:#666666;padding:0 0 0 20px;}
.set_r_div2 .set_r_div2_1_1{height:28px;line-height:28px;float:left;font-size:14px;padding:2px 0 0 0;text-align:center;}
.set_r_div2 .set_r_div2_1_1 span{color:#e13a00;}
.set_r_div2 .set_r_div2_1_2{float:left;font-size:12px;text-align:center;padding:10px 10px 0 10px;color:#888;}
.settlement_deduction{width:618px;float:left;padding:0 20px 0 0;}
.settlement_amount{width:300px;float:right;font-size:14px;font-weight:bold;color:#454545;}
.settlement_amount .s_a_1{width:300px;float:left;}
.settlement_amount p{float:left;padding:23px 0 0 0;}
.settlement_amount cite{padding:15px 0 0 0;font-size:24px;font-family:Arial;float:left;color:#e13a00;}
.add_explanation{width:600px;float:left;margin:0 0 0 0;padding:0 0 20px 0;}
.confirm_right{width:260px;float:left; text-align:center;padding:0 40px 0 0;}
.confirm_btn{width:910px;float:left;padding:10px 0 0 0;border-top:#e6e6e6 solid 1px;margin:10px 0 0 15px; display:inline;}
.set_l_div4{width:420px;height:40px;float:left;}
.set_l_div4 .set_div4_div1{width:380px;height:20px;line-height:20px;color:#454545;padding:0 0 0 40px;margin:10px 0 0 0;float:left;}
.set_l_div4 .set_div4_div1 cite{color:#454545;font-weight:bold;float:left;height:25px;padding:2px 0 0 7px;font-size:12px;}
.set_l_div4 .set_div4_div1 span{height:19px;float:left;padding:6px 0 0 8px;_padding:2px 0 0 8px;*padding:0 0 0 0;}
.set_l_div4 .set_div4_div2{width:370px;height:20px;color:#454545;float:left; font-size:12px;padding:0 0 0 48px;margin:12px 0 0 0;}
.set_l_div4 .set_div4_div2 textarea{width:370px;height:18px;color:#666666;border:#d1d1d1 solid 1px;padding:3px;font-size:12px;}

.set_l_div2 .set_l_div2_box .coupon .coupon_div2{width:85px;height:42px; background:url(../images_order/youh_bg.gif) no-repeat; color:#FFF;float:left;padding:0 10px 0 0;}
.set_l_div2 .set_l_div2_box .coupon .coupon_div2 p{float:left; font-size:14px; font-weight:bold;padding:5px 0 0 19px;}
.set_l_div2 .set_l_div2_box .coupon .coupon_div2 cite{width:85px;float:left;font-size:16px; font-weight:bold; text-align:center}
.set_l_div2 .set_l_div2_box .coupon .set_div2_d4{float:left;padding:10px 10px 0 0;}

.submitbtn{width:960px;margin:20px 0 0 0; padding:0 0 20px 0;float:left}
.submitbtn p{width:960px;text-align:center;float:left}
.submitbtn p a{color:#1A66B3;}
.submitbtn p a:hover{color:#1A66B3;}
.submitbtn cite{width:960px;text-align:center;float:left;margin:20px 0 0 0;}

.savebtn{line-height:21px;text-align:center;padding:5px 5px; font-size:14px; color:#FFFFFF; font-weight:bold;background:url(../images/savebtn_bg.gif) repeat-x; margin:0 0 0 50px;border:#d46c33 solid 1px;cursor:pointer;}
.consigneebtn{width:120px;}
.payingdeliverbtn{width:175px;}
.receiptinfobtn1{width:130px;}
.receiptinfobtn2{width:150px;}


/*购物车页面*/
.cartcontent{width:960px;padding:0 0 10px 20px;overflow:auto;}
.cartcontent .st1_div1{width:932px;margin:0 0 0 0;float:left;font-family:"宋体";}
.cartcontent .car_table3{width:900px; margin:auto;border:#ebe9e2 solid 1px;}
.cartcontent .car_table3 td{ text-align:center;border:1px solid;border-color:#EBE9E2 #EBE9E2 #fff #fff;}
.cartcontent .car_table3 tr{background:#FFFCF9;}
.cartcontent .car_table3 tr.bg2{background:#FFFDDD;}
.cartcontent .car_table3 tr.title{ line-height:32px; height:32px; color:#333333; background:#f5f5f5;}
.cartcontent .car_table3 tr.title td{ border:none;}

.cartcontent .car_table3 td.td1{width:444px;text-align:left;padding-bottom:3px;border-left:0;}
.cartcontent .car_table3 .img{ padding:5px 0 0 6px;width:73px; height:60px;float:left;}
.cartcontent .car_table3 .img img{width:60px; height:60px;}
.cartcontent .car_table3 .name{width:258px;float:left;line-height:16px;padding-top:9px;}
.cartcontent .car_table3 .name a{color:#333;}
.cartcontent .car_table3 .name a:hover{color:#f60;}
.cartcontent .car_table3 .name span{color:#f00;cursor:pointer;}
.cartcontent .car_table3 .name em{color:#36c; cursor:pointer;}
.cartcontent .car_table3 .giftBtn{float:left;width:258px;margin-top:11px;cursor:pointer;}

.cartcontent .car_table3 td.td2{width:123px;}
.cartcontent .car_table3 td.td3{ line-height:18px;width:98px;}
.cartcontent .car_table3 td.td3 span{color:#999;text-decoration:line-through;}
.cartcontent .car_table3 .td4{width:99px;}
.cartcontent .car_table3 .td4 .inp{width:28px; height:18px;background:url(../images/car_inpbg.gif) top left no-repeat; line-height:18px;border:1px solid #A7A6AA;}
.cartcontent .car_table3 .td4 img{cursor:pointer;margin-bottom:-2px;*margin-bottom:0;}
.cartcontent .car_table3 .td5{width:55px;color:#878787}
.cartcontent .car_table3 .td6{ color:#E13A00;width:109px;}
.cartcontent .car_table3 td.td7{width:90px; border-right:none;}
.cartcontent .car_table3 td.td7 a{color:#1A66B3;text-decoration:underline;}
.cartcontent .car_table3 td.td7 a:hover{color:#00397F;}

.cartcontent .car_table3 .giftTd{border:none;width:900px;}
.cartcontent .car_table3 .gift{ padding:0;background:#fff;}
.cartcontent .car_table3 .giftTd2{border:none;width:900px; font-size:12px; padding:12px 0 15px 30px;line-height:20px; color:#E13A00;text-align:left}
.cartcontent .car_table3 .giftTd2 p{ font-weight:bold;}
.cartcontent .car_table3 .gift .car_table4{width:900px;background:#f5f5f5;border-top:#ebe9e2 solid 1px;}
.cartcontent .car_table4 tr { background:url(images/car_tab2line.gif) bottom repeat-x;}
.cartcontent .car_table4 tr.last { background:none;}
.cartcontent .car_table4 td{ border:none;color:#878787;}
.cartcontent .car_table4 td.td1_gift{width:434px;padding:3px 0 3px 10px;text-align:left;line-height:12px; color:#878787;}
.cartcontent .car_table4 td.td1_gift a{color:#878787;}
.cartcontent .car_table4 td.td1_gift a:hover{color:#f60;}
.cartcontent .car_table4 td.td1_gift span{color:#E13A00;margin-right:2px;}
.cartcontent .car_table4 td.td2_gift{width:123px;}
.cartcontent .car_table4 td.td3_gift{ line-height:14px; padding:8px 0;width:98px;}
.cartcontent .car_table4 td.td3_gift span{color:#999;text-decoration:line-through;}
.cartcontent .car_table4 td.td3_gift code{color:#333333;}
.cartcontent .car_table4 .td4_gift{width:99px;}
.cartcontent .car_table4 .td5_gift{width:55px;font-weight:bold;}
.cartcontent .car_table4 td.td6_gift{ color:#E13A00;width:109px;border-right:none;}
.cartcontent .car_table4 td.td7_gift{width:90px;border:none;}
.cartcontent .car_table4 td.td7_gift a{color:#878787;text-decoration:underline;}
.cartcontent .car_table4 td.td7_gift a:hover{color:#c00;}

.cartcontent .st1_div2{width:900px;padding:20px 0 0 20px; float:left}
.cartcontent .st1_div2_l{float:left;color:#454545;font-size:14px;padding:0 0 0 30px;}
.cartcontent .st1_div2_l code{ font-weight:bold;padding:0 5px;}
.cartcontent .st1_div2_l span{padding:0 5px;}
.cartcontent .st1_div2_l span a{color:#1A66B3;text-decoration: underline;}
.cartcontent .st1_div2_l span a:hover{ color:#00397F;text-decoration: underline;}
.cartcontent .st1_div2_r{float:right;color:#454545;font-size:14px;padding:0 30px 0 0;}
.cartcontent .st1_div2_r span{color:#E13A00;font-weight:bold;font-size:16px}

.cartcontent .st1_btn{width:415px;float:right;padding:20px 0 0 0; position:relative;}
.cartcontent .st1_btn img{float:left;margin:0 8px 0 0;}
.cartcontent .st1_btn a{margin:0 11px 0 0;}
.cartcontent .st1_btn .nextbtn1{margin:0 0 0 15px;}

.cartcontent .st1_btn .myc_delTips2{width:150px;position:absolute; line-height:18px;filter:alpha(opacity=90);opacity:0.9; color:#000; top:-50px;left:0px;  text-align:center;}
.cartcontent .st1_btn .myc_delTips2 .box{border:1px solid #FF903E;border-bottom:0; background:#FFD08A; padding:10px;}
.cartcontent .st1_btn .myc_delTips2 .box a{ color:#c00; text-decoration:none;}
.cartcontent .st1_btn .myc_delTips2 .bot{ height:7px; background:url(../images/myc_detbot.gif) no-repeat; overflow:hidden;}


/*订单提交页面*/
.submit_success1{width:938px;border:1px solid #D1D1D1; background:url(../images/submit_success_bg1.gif) no-repeat top; float:left;margin:15px 0 0 0;min-height:288px;height:auto !important;height:288px;overflow:visible;padding:0 0 20px 0;}
.submit_success1 h1{padding:26px 0 0 326px;}
.submit_success1 .success1_box{width:384px;padding:0 0 0 266px;}
.submit_success1 .success1_s1{line-height:45px;font-size:14px; text-align:center; color:#646464;}
.submit_success1 .success1_s2{width:382px;line-height:31px;height:31px; background:#FFFFFF;font-size:14px; border:#E8E7E6 solid 1px; text-align:center;margin:6px 0 0 0;}
.submit_success1 .success1_s2 span,.success1_s7 span{ color:#1A66B3; font-weight:bold;font-size:16px;}
.submit_success1 .success1_s3{width:382px;line-height:31px;height:31px; background:#FFFFFF;font-size:14px; border:#E8E7E6 solid 1px; text-align:center;margin:6px 0 0 0;}
.submit_success1 .success1_s3 span{ color:#E13A00; font-weight:bold; font-size:16px;}
.submit_success1 .success1_s4{width:382px;line-height:31px;height:31px; background:#FFFFFF;font-size:14px; border:#E8E7E6 solid 1px; text-align:center;margin:6px 0 0 0;}
.submit_success1 .success1_s5{line-height:31px;height:31px;font-size:14px; margin:12px 0 0 0;padding:0 0 0 337px;}
.submit_success1 .success1_s6{line-height:31px;height:31px;font-size:14px; margin:12px 0 0 0;padding:0 0 0 267px;}
.submit_success1 .success1_s5 span,.success1_s6 span{float:left;margin:5px 14px 0 0;}
.submit_success1 .success1_s5 p,.success1_s6 p{padding:5px 0 0 0; float:left}
.submit_success1 .success1_s7{width:382px;line-height:31px;height:31px; background:#FFFFFF;font-size:14px; border:#E8E7E6 solid 1px; text-align:center;margin:10px 0 0 0;}
.submit_success1 .success1_s8{line-height:18px; text-align:center;margin:15px 0 0 0;}
.submit_success1 .success1_s8 p{padding:2px 0;}
.submit_success1 .success1_s11{line-height:20px;font-size:14px; text-align:center; color:#646464;margin:15px 0 0 0;}
.submit_success1 .paying{width:890px;padding:24px 0 0 46px; float:left}
.submit_success1 .paying .payingtitle{width:890px;height:26px;font-size:14px; text-align:left}
.submit_success1 .paying ul{}
.submit_success1 .paying li{width:214px;height:80px; float:left;}
.submit_success1 .paying li p{width:150px; line-height:20px;font-size:14px;  font-weight:bold; color: #1A66B3}
.submit_success1 .paying li img{ border:#BAC1B1 solid 1px;}

.submit_success1 .bank{width:890px;padding:24px 0 0 46px; float:left}
.submit_success1 .bank .banktitle{width:890px;height:26px;font-size:14px; text-align:left}
.submit_success1 .bank ul{}
.submit_success1 .bank li{width:214px;height:65px;float:left;position:relative;}/*20120223修改*/
.submit_success1 .bank li img{ border:#BAC1B1 solid 1px;}
.submit_success1 .bank li a{width:138px;height:38px;float:left;}
.submit_success1 .bank li p{width:138px;float:left;padding:7px 0 0 0;line-height:1.2em; text-align:center;color: #1A66B3}
.submit_success1 .bank li cite{position:absolute;}/*20120223修改*/
.submit_success1 .bank li cite{Z-INDEX: 1;POSITION:absolute;WIDTH:19px;HEIGHT:19px;top:-10px;BACKGROUND:url(../images/alipay_kjzf.png) no-repeat 0px 0px;RIGHT:63px;_top:-10px;_background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/alipay_kjzf.png');}  /*20120223修改*/

.submit_success1 .success1_s10{width:680px;line-height:24px;padding:0 0 0 50px; float:left}
.submit_success1 .success1_s9{width:600px;padding:30px 0 20px 330px;float:left}
.submit_success1 .success1_s9 span{float:left;margin:5px 14px 0 0;}
.submit_success1 .success1_s9 p{padding:15px 0 0 0; float:left; font-size:14px; font-weight:bold;}


/*层效果*/
.orderOpen1{  background:url(../images/order_open1bg.gif) repeat-y; width:347px; position:absolute; margin:-33px 0 0 245px;* margin:-5px 0 0 0;}
.orderOpen1 .box{ background:url(../images/order_open1bgTop.gif) no-repeat top; padding:10px 10px 0 20px;}
.orderOpen1 .box ul li{ line-height:20px; color:#666;}
.orderOpen1 .Bott{ background:url(../images/order_open1bgBott.gif) no-repeat; height:10px; overflow:hidden;}


.orderOpen2{  background:#FFFACD; width:665px; position:absolute;left:510px;}
.orderOpen2 .box{ background:#FFFACD; padding:10px 10px 0 20px;}
.orderOpen2 .box ul li{ line-height:20px; color:#666;}
.orderOpen2 .Bott{ background:#FFFACD; height:10px; overflow:hidden;}
/*层效果*/

/*删除，提示层*/
.myc_delTips{width:150px; position:absolute; margin:-70px 0 0 -32px;*margin:-70px 0 0 -63px; line-height:18px;filter:alpha(opacity=90);opacity:0.9; color:#000;}
.myc_delTips .box{border:1px solid #FF903E;border-bottom:0; background:#FFD08A; padding:10px;}
.myc_delTips .box a{ color:#c00; text-decoration:none;}
.myc_delTips .bot{ height:7px; background:url(../images/myc_detbot.gif) no-repeat; overflow:hidden;}


/*end 删除，提示层*/


/*---填写核对信息---*/

.orderBox1,.orderBox2,.orderBox3,.orderBox4,.orderBox5{ margin:10px 17px 0 17px; width:950px; background:#fff6ee url(../images/orderBox_bg.gif) repeat-x top; border-bottom:#fed6b3 1px solid; padding-bottom:20px;}

.orderBoxNoBg{/*白色背景*/margin:10px 17px 0 17px; width:950px;padding-bottom:10px;background:url(../images/orderBox3_line.gif) repeat-x  bottom;}

.orderBlue{ color:#2f66c3;}
.orderRed{ color:#f00;}
.orderTitle{ line-height:34px; padding-top:6px; padding-left:20px;}
.orderTitle span{ font-size:14px; font-weight:bold; padding-right:10px;}


/*新加*/
#shouinfo{ line-height:24px; padding-left:55px;}
.cart_emp{padding:20px; line-height:25px;}
.cart_emp a{color:#06c;margin:0 2px;}
.cart_emp a:hover{color:#f60;}
.cart_hbTitle{border-bottom:1px dashed #EBCBA0; font-size:14px;padding-bottom:5px;margin:10px 25px 10px 50px; font-weight:bold;}

#invocieInfo {line-height: 24px; padding-left: 55px;margin:20px 0 0 0;}
#invocieInfo span{color:#f00;}
#invocieInfo p{ line-height:24px;}
#pinvoice{line-height:24px;padding-left:55px;}

#payinfo{ line-height:24px;padding-left:55px;}
#payinfo span{color:#f00;}
#payinfo p{ line-height:24px;}

/*新加增值税*/
.cart_zzbox{width:950px;padding:10px 0 5px 0; line-height:20px;}
.cart_zzbox p{ padding-left:40px; margin-top:5px; *margin-top:3px;}
.cart_zzbox .ipt{ margin:3px 0 10px 0;}
.cart_zzbox .ipt span{ color:#c00;margin-left:10px;}
.cart_zzbox .ipt2{ margin:3px 0 10px 0;}
.cart_zzbox .ipt input{ border:#a5acb2 1px solid; width:280px; height:20px; line-height:20px;}
.cart_zzbox .txt{padding-left:130px;line-height:24px;}

.cart_zzbox p.ff input{}
/*end 新加增值税*/


/*---订单失败----*/

.unsuccess{width:938px;border:1px solid #D1D1D1; background:url(../images/unsuccess_bg.gif) no-repeat top; float:left;margin:15px 0 0 0;min-height:288px;height:auto !important;height:288px;overflow:visible;padding:0 0 20px 0;}
.unsuccess .unsuccess_box{width:672px;padding:0 0 0 266px; float:left;}
.unsuccess .s2{ float:left;line-height:31px;height:31px; background:#FFFFFF;font-size:14px; border:#E8E7E6 solid 1px; text-align:center;margin:130px 0 0 0;padding:0 20px; text-align:center;float:left;}
.unsuccess .s2 span{ color:#1A66B3; font-weight:bold;font-size:16px;}
.unsuccess .s5{line-height:31px;height:31px;font-size:14px; margin:12px 0 0 0;padding:15px 0 0 397px;float:left;}

.orderSave2 a{ background:url(../images/order_btnSave_187.gif) no-repeat; display:block; width:187px; line-height:24px; padding-top:2px; color:#fff; font-size:14px; font-weight:bold; margin-left:110px; text-align:center; clear:both;margin-top:30px;}
