/* tab pane styling */
.panes div {
	display:none;		
	/*border:1px solid #999;*/
	border:1px solid #CCC;
	height:150px;
	font-size:14px;
	background-color:#fff;
	width:555px;
	
}
.panes div img{		
	
	border:0px solid #999;
padding-left: 24px;
    padding-top: 5px;
}


/* root element for tabs  */
ul.tabs { 
	list-style:none; 
	margin:0; 
	padding:0;	
	height:30px;
	

}

/* single tab */
ul.tabs li { 
	float:right;	
	margin-left:-6px; 
	text-indent:0;
	padding:0;
	list-style-image:none !important;
	
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	background:url(../images/tabtitlebg.png) no-repeat;
	font-size:14px;
	display:block;
	height: 27px;  
	line-height:27px;
	width: 118px;
	text-align:center;	
	text-decoration:none;
	color:#333;
	padding:0px;
	margin:0px;	
	position:relative;
	top:3px;
	font-weight:bold;
}

ul.tabs a:active {
	outline:none;		
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
	background:url(../images/tabtitlebg.png) no-repeat;

	color:#333;	
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
		
	cursor:default !important; 
	color:#333 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
ul.tabs a.s 			{ background-position: -553px 0; width:81px; }
ul.tabs a.s:hover 	{ background-position: -553px -31px; }
ul.tabs a.s.current  { background-position: -553px -62px; }

/* width 2 */
ul.tabs a.l 			{ background-position: -248px -0px; width:174px; }
ul.tabs a.l:hover 	{ background-position: -248px -31px; }
ul.tabs a.l.current  { background-position: -248px -62px; }


/* width 3 */
ul.tabs a.xl 			{ background-position: 0 -0px; width:248px; }
ul.tabs a.xl:hover 	{ background-position: 0 -31px; }
ul.tabs a.xl.current { background-position: 0 -62px; }


/* initially all panes are hidden */ 
.panes .pane {
	display:none;		
}

